<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="DeviceInfo">
		<title>Smartpen Device Information</title>
		<size>600,165</size>
		<minsize>585,165</minsize>
		<maxsize>585,165</maxsize>
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="mainSizer" member="no">
			<cols>2</cols>
			<object class="sizeritem">
				<object class="wxStaticBitmap" name="idInformationIcon" variable="infoIcon" member="yes">
					<bitmap>res/dialog-information-128.png</bitmap>
					<size>128,128</size>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="dialogSizer" member="no">
					<cols>1</cols>
					<object class="sizeritem">
						<object class="wxStaticText" name="idDeviceTypeText" variable="deviceType" member="yes">
							<label>LightScribe Pulse(TM) Smartpen</label>
							<font>
								<size>13</size>
								<style>normal</style>
								<weight>bold</weight>
								<underlined>0</underlined>
								<family>swiss</family>
								<face>Sans</face>
							</font>
							<style>wxALIGN_LEFT</style>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="informationSizer" member="no">
							<cols>2</cols>
							<rows>2</rows>
							<object class="sizeritem">
								<object class="wxStaticText" name="idDeviceNameLabel" variable="nameLabel" member="yes">
									<label>Name:</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="idDeviceName" variable="deviceName" member="yes">
									<label>Dylan Taylor&apos;s Smartpen</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="idBatteryLabel" variable="batteryLabel" member="yes">
									<label>Battery:</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxGauge" name="idBatteryRemainingGauge" variable="batteryGauge" member="yes">
									<value>50</value>
									<minsize>250,25</minsize>
									<maxsize>250,25</maxsize>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="idStorageLabel" variable="storageLabel" member="yes">
									<label>Storage:</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="idStorageRemaining" variable="storageRemaining" member="yes">
									<label>1669.0 of 1925.0 MiB (86.70%) remaining.</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
				<border>10</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
