<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="GUIFrame">
		<title>LibreScribe Smartpen Manager [Alpha]</title>
		<centered>1</centered>
		<size>750,550</size>
		<minsize>750,550</minsize>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_FRAME_STYLE|wxRESIZE_BORDER</style>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxBoxSizer" variable="contentSizer" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxNotebook" name="idTabContainer" variable="tabContainer" member="yes">
					<size>-1,550</size>
					<minsize>750,550</minsize>
					<object class="notebookpage">
						<object class="wxPanel" name="idPagesTab" variable="pagesTab" member="yes">
							<pos>13,75</pos>
							<object class="wxFlexGridSizer" variable="pageTabContainer" member="no">
								<cols>2</cols>
								<rows>1</rows>
								<object class="sizeritem">
									<object class="wxTreeCtrl" name="idPageTreeCtrl" variable="pageTree" member="yes">
										<size>255,-1</size>
										<minsize>255,-1</minsize>
										<maxsize>255,-1</maxsize>
										<style>wxTR_NO_BUTTONS|wxTR_NO_LINES|wxTR_FULL_ROW_HIGHLIGHT|wxSUNKEN_BORDER</style>
										<handler function="OnPageTreeItemCollapsed" entry="EVT_TREE_ITEM_COLLAPSED" />
										<handler function="OnPageTreeSelectionChanged" entry="EVT_TREE_SEL_CHANGED" />
										<handler function="OnPageTreeItemMenu" entry="EVT_TREE_ITEM_MENU" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="pageBrowser" member="no">
										<cols>1</cols>
										<object class="sizeritem">
											<object class="wxGridSizer" variable="notebookToolbar" member="no">
												<cols>1</cols>
												<rows>1</rows>
												<object class="sizeritem">
													<object class="wxStaticText" name="idSelectedNotebook" variable="selectedNotebookName" member="yes">
														<label>No Notebook Selected</label>
														<font>
															<size>11</size>
															<style>normal</style>
															<weight>normal</weight>
															<underlined>0</underlined>
															<family>swiss</family>
															<face>Sans</face>
														</font>
													</object>
													<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="pageViewerContainer" member="no">
												<object class="sizeritem">
													<object class="wxListCtrl" name="idNotebookBrowserListCtrl" variable="notebookBrowser" member="yes">
														<size>450,465</size>
														<fg>wxSYS_COLOUR_MENUTEXT</fg>
														<bg>wxSYS_COLOUR_MENU</bg>
														<maxsize>-1,-1</maxsize>
														<style>wxLC_ICON|wxLC_SINGLE_SEL|wxSUNKEN_BORDER</style>
														<handler function="OnNotebookBrowserItemActivated" entry="EVT_LIST_ITEM_ACTIVATED" />
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_BOTTOM|wxALIGN_CENTER_HORIZONTAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Pages</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="idAudioTab" variable="audioTab" member="yes">
							<pos>35,20</pos>
							<object class="wxBoxSizer" variable="audioTabContainer" member="no">
								<object class="sizeritem">
									<object class="wxListCtrl" name="idAudioListCtrl" variable="audioList" member="yes">
										<style>wxLC_REPORT|wxLC_AUTOARRANGE|wxLC_HRULES|wxSUNKEN_BORDER</style>
									</object>
									<flag>wxALL|wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Audio</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="idAppTab" variable="appTab" member="yes">
							<pos>138,16</pos>
							<object class="wxBoxSizer" variable="appTabContainer" member="no">
								<object class="sizeritem">
									<object class="wxListCtrl" name="idApplicatonListCtrl" variable="appList" member="yes">
										<style>wxLC_REPORT|wxLC_AUTOARRANGE|wxLC_HRULES|wxSUNKEN_BORDER</style>
										<handler function="OnApplicationListColumnClick" entry="EVT_LIST_COL_CLICK" />
									</object>
									<flag>wxALL|wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Applications</label>
					</object>
				</object>
				<flag>wxBOTTOM|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
				<border>20</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenuBar" variable="menuBar" member="yes">
			<object class="wxMenu" variable="fileMenu" member="yes">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="idMenuFilePrint" variable="printMenuItem" member="yes">
					<label>&amp;Print</label>
					<accel>Ctrl+P</accel>
					<enabled>0</enabled>
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idMenuFileDeletePages" variable="deletePagesMenuItem" member="yes">
					<label>Delete &amp;Page(s)</label>
					<accel>Ctrl+D</accel>
					<enabled>0</enabled>
				</object>
				<object class="wxMenuItem" name="idMenuFileArchiveNotebook" variable="archiveNotebookMenuItem" member="yes">
					<label>&amp;Archive Notebook</label>
					<accel>Shift+Ctrl+A</accel>
					<enabled>0</enabled>
				</object>
				<object class="wxMenuItem" name="idMenuFileDeleteNotebok" variable="deleteNotebookMenuItem" member="yes">
					<label>&amp;Delete Notebook</label>
					<accel>Shift+Ctrl+D</accel>
					<enabled>0</enabled>
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idMenuFileQuit" variable="quitMenuItem" member="yes">
					<label>&amp;Quit</label>
					<accel>Ctrl+Q</accel>
					<help>Quit this application.</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="helpMenu" member="yes">
				<label>&amp;Help</label>
				<object class="wxMenuItem" name="idMenuHelpAbout" variable="aboutMenuItem" member="yes">
					<label>&amp;About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxToolBar" name="idMainToolbar" variable="mainToolbar" member="yes">
			<object class="tool" name="idToolbarRefresh" variable="refreshButton" member="yes">
				<label>Refresh</label>
				<bitmap>res/view-refresh.png</bitmap>
				<tooltip>Refresh Connection Status</tooltip>
				<longhelp>Scan for a compatible smartpen device.</longhelp>
				<handler function="OnRefresh" entry="EVT_TOOL" />
			</object>
			<object class="tool" name="idToolbarInfo" variable="devInfoButton" member="yes">
				<label>Information</label>
				<bitmap>res/emblem-system.png</bitmap>
				<tooltip>Device Information</tooltip>
				<longhelp>Display connected smartpen device information.</longhelp>
				<handler function="OnInfo" entry="EVT_TOOL" />
			</object>
			<object class="tool" name="idToolbarQuit" variable="quitButton" member="yes">
				<label>Quit</label>
				<bitmap>res/process-stop.png</bitmap>
				<tooltip>Quit LibreScribe</tooltip>
				<longhelp>Quit this application.</longhelp>
				<handler function="OnQuit" entry="EVT_TOOL" />
			</object>
		</object>
		<object class="wxStatusBar" name="idStatusBar" variable="statusBar" member="yes">
			<fields>2</fields>
			<widths>-10,-10</widths>
			<styles>wxSB_NORMAL,wxSB_NORMAL</styles>
			<style>wxST_SIZEGRIP|wxCLIP_CHILDREN|wxFULL_REPAINT_ON_RESIZE</style>
		</object>
		<object class="wxMenu" variable="rootItemMenu" member="yes">
			<object class="wxMenuItem" name="idRootItemMenuInformation" variable="deviceInformationMenuItem" member="yes">
				<label>Device &amp;Information</label>
				<help>Display information about the connected smartpen</help>
				<handler function="OnInfo" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="idRootItemMenuRenameDevice" variable="renameSmartpenMenuItem" member="yes">
				<label>Re&amp;name Smartpen</label>
				<help>Change the name of the connected smartpen</help>
				<handler function="RenameSmartpen" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="idRootItemMenuRefresh" variable="refreshConnectionMenuItem" member="yes">
				<label>&amp;Refresh Connection</label>
				<help>Refresh the connection to the attached smartpen</help>
				<handler function="OnRefresh" entry="EVT_MENU" />
			</object>
		</object>
	</object>
</wxsmith>
